## Experimental Purpose, I used mlab.com to load the dataset. 
It will be available for next 15 days, later the data will be purged from the db

- DB - <b> mongodb://admin:admin1234$@ds117336.mlab.com:17336/iml_db </b> - Not availabe after Dec15-2018

In [10]:
import numpy as np
import pandas as pd 
import json
import pymongo
from pymongo import MongoClient
from bson.objectid import ObjectId 
from sklearn.feature_extraction.text import CountVectorizer
import matplotlib.pyplot as plt
from sklearn.naive_bayes import BernoulliNB
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.tree import DecisionTreeRegressor
from sklearn import tree
import graphviz
import sklearn.metrics
import re
from sklearn.metrics import roc_auc_score
from sklearn.feature_selection import chi2
pd.set_option('display.max_columns', None)
import pymongo
from pymongo import MongoClient
%matplotlib inline

## Section 1: Load Dataset to Mongo DB

Amazon review dataset on reviews

In [11]:
data = json.load(open('../data/small.json'))

In [12]:
f"DataSet Size = { len(data['reviews']) }"

'DataSet Size = 10261'

In [13]:
client = MongoClient('mongodb://admin:admin1234$@ds117336.mlab.com:17336/iml_db')

In [14]:
for i in range(len(data['reviews'])):
    data['reviews'][i]['load_to_db'] = False
    data['reviews'][i]['neg_doc'] = False

In [15]:
def load_dataset():
    docs = []
    train_doc_size=40


    n_c = 0
    for i in range(len(data['reviews'])):
        if data['reviews'][i]['overall'] == 3.0  and n_c <= train_doc_size: 
            docs.append(data['reviews'][i])  
            n_c += 1
            data['reviews'][i]['load_to_db'] = True
            data['reviews'][i]['neg_doc'] = True
    return docs

In [16]:
df = pd.DataFrame(load_dataset())

In [17]:
f"Dataset Size {df.shape}"

'Dataset Size (41, 11)'

In [18]:
df.head()

,asin,helpful,load_to_db,neg_doc,overall,reviewText,reviewTime,reviewerID,reviewerName,summary,unixReviewTime
0,B00004Y2UT,"[0, 0]",True,True,3.0,I now use this cable to run from the output of...,"11 16, 2012",AJNFQI3YR6XJ5,"Fender Guy ""Rick""",Didn't fit my 1996 Fender Strat...,1353024000
1,B00005ML71,"[0, 0]",True,True,3.0,If you are not use to using a large sustaining...,"11 17, 2013",A2NIT6BKW11XJQ,Jai,HAS TO GET USE TO THE SIZE,1384646400
2,B000068NW5,"[0, 0]",True,True,3.0,Works for practice ... it's a guitar instrumen...,"07 5, 2014",A3LNNEYLGGCO25,Hans R,maybe not the best but it serves it's purpose,1404518400
3,B000068NW5,"[0, 0]",True,True,3.0,...unbalanced guitar cable is notoriously nois...,"02 12, 2012",A319B090A2POEB,Lee,Standard guitar cable,1329004800
4,B000068NW5,"[0, 1]",True,True,3.0,"It's a cable, no frills, tangles pretty easy a...","02 26, 2014",A2WYAHJGST6AOT,Matt,average cable,1393372800

In [19]:
df = df.reindex(index=df.index[::-1])

In [20]:
df.to_csv('test5.csv',  encoding='utf-8')

In [21]:
df.head()

,asin,helpful,load_to_db,neg_doc,overall,reviewText,reviewTime,reviewerID,reviewerName,summary,unixReviewTime
40,B0002D070I,"[5, 8]",True,True,3.0,"This is not a bad product, just not great. As...","06 12, 2012",A39PQ7QR2JFXLV,"Ian Shillington ""Doc Shillington""",Not Bad,1339459200
39,B0002D02RQ,"[0, 0]",True,True,3.0,"We all have different tastes in guitar picks, ...","06 13, 2014",AKHWZ3S1UVZAO,Hagen LeBray,Not Bad Picks...,1402617600
38,B0002D01KO,"[1, 1]",True,True,3.0,This gigbag is a very tight fit for my Epiphon...,"01 15, 2014",A25ZBYVW8ZINLM,Randy V. Brown,Provides Some Protection,1389744000
37,B0002CZW0Y,"[0, 0]",True,True,3.0,does not stay in place well.,"07 7, 2014",AKDQ6O42VUK1U,Loren Shirk,Three Stars,1404691200
36,B0002CZW0Y,"[0, 0]",True,True,3.0,This is a decent pop filter. It gets the job d...,"07 7, 2014",A26Y7G0VFYUYSL,Larry Johnson,It gets the job done. That's what matters righ...,1404691200

In [22]:
df.describe()

       overall  unixReviewTime
count     41.0    4.100000e+01
mean       3.0    1.362766e+09
std        0.0    4.491117e+07
min        3.0    1.204675e+09
25%        3.0    1.352333e+09
50%        3.0    1.374451e+09
75%        3.0    1.392854e+09
max        3.0    1.404691e+09

In [23]:
def clean_review(text):
    """
    1. Convert . to space
    2. Remove all special chacaters.
    3. Remover more than one space
    """
    text = re.sub('\.', ' ', text)
    text = re.sub('[^A-Za-z ]+', '', text)
    text = re.sub(' +', ' ', text)
    return text

##  Insertion of Records

In [24]:
def create():
    db = client.iml_db
    reviews = db.train
    for i in range(80):
        # additional processing
        if data['reviews'][i]['load_to_db'] == True and data['reviews'][i]['neg_doc'] == True:
            data['reviews'][i]['cleaned_review_text'] = clean_review(data['reviews'][i]['reviewText'])
            data['reviews'][i]['keywords'] = ""
            data['reviews'][i]['rationales'] = ""
            data['reviews'][i]['labelled'] = False
            data['reviews'][i]['human_labelled'] = False
            reviews.insert_one(data['reviews'][i])
    print(f"Created")

In [25]:
# create() # uncomment this line to load.